td {
  font-size: 25px;
}
p {
  font-size: 20px;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
.jumbotron {
  color: #000000;
  background-color: #90baeb;
}*/

.jumbotron1 {
  margin-top: 20px;
  background-image: url("https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg");
  background-size: cover;
  color: white;
  background-color: #90baeb;
}

.jumbotron2 {
  color: white;
  background-color: #5c5834;
}

.bg-img {
  /* The image used */
  background-image: "images\cat_petting_dog.png";

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

nav li {
  list-style: none;
}
